*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    width: 80%;
    background-color: black;
    

   
}
/* Shared styles */

button {
    padding: 10px 20px;
    background-color: lightgrey;
    border-radius: 20px;
}
button:hover{
    cursor: pointer;
    background-color: lightblue;
}

p {
    font-size: 18px;
    color: #e5e7eb
}

img{
    width: 100%;
    border-radius: 10px;
   
}
h3,h4{
    color: white
}

section {
    margin-bottom: 50px;
}

/* Nav Bar */

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

ul{
    margin-right: 30px;
    display: flex;
    list-style: none;
    gap: 8px;
    
    
}

.logo {
   width: 60%; 
   border-radius: 100%;
   margin-left: 15px;
   
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightblue;
}

/* Header */

.main {
    display: flex;
    background-color: black;
    color: white;
    gap: 8px;
    padding: 40px;
    
    
}

.main-info  {
    flex-basis: 50%;
  

}

.imgHolder {
    flex-basis: 50%;
    
    
}

h1 {
    color: lightblue;
    font-size: 62px;
    font-weight: 900;
}



/* section 1 content */

.section-content {
   
    
}
.section-content h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: lightblue;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    
    
    
    
}
.img-container {
    display: flex;
    flex-direction: column;
    flex: 1;
   
   
    
}
.img-container p,h3 {
    text-align: center;
}

/* quote section */

 .quote-section{
    background-image: url(../images/backgroundimg1.jpg);
    padding: 100px;
    background-size: cover;
    
    
}

.quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
}
.quote-author {
    text-align: end;
    margin-right: 10px;
}

/* call to action section */

.call-to-action {
    display: flex;
    justify-content: space-around;
   
}
.call-to-action div {
    align-self: center;
    
    
}
.call-to-action p {
 line-height: 1px;
}

/* footer */

footer {
    text-align: center;
    
   
}